{% extends "base.html" %}
{% block content %}
<h1>TRUCK TIRE MANAGEMENT SYSTEM</h1>
<div class="form-container">
    <form action="/predict" method="post">
        <label for="num_trucks">Number of Trucks:</label>
        <input type="number" id="num_trucks" name="num_trucks" required>
        <label for="num_tires">Number of Tires:</label>
        <input type="number" id="num_tires" name="num_tires" required>
        
        {% for truck in range(1, 3) %}
            <div class="truck">
                <h2>Truck {{ truck }}</h2>
                {% for tire in range(1, 11, 2) %}
                    <div class="tire-row">
                        <div class="tire-input">
                            <label for="truck{{ truck }}_tire{{ tire }}">Tire {{ tire }}:</label>
                            <input type="number" step="0.01" min="0" max="1" id="truck{{ truck }}_tire{{ tire }}" name="truck{{ truck }}_tire{{ tire }}" required>
                        </div>
                        <div class="tire-input">
                            <label for="truck{{ truck }}_tire{{ tire+1 }}">Tire {{ tire+1 }}:</label>
                            <input type="number" step="0.01" min="0" max="1" id="truck{{ truck }}_tire{{ tire+1 }}" name="truck{{ truck }}_tire{{ tire+1 }}" required>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button type="submit">Predict</button>
    </form>
</div>

{% if predictions %}
    <div class="predictions">
        <h2>Predictions</h2>
        <ul>
        {% for prediction in predictions %}
            <li>{{ prediction.Log }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
{% if error %}
    <div class="error">
        <p>Error: {{ error }}</p>
    </div>
{% endif %}
{% endblock %}
